@font-face {
    font-family: 'Alegreya Sans Sc Medium';
    src: url('/fonts/AlegreyaSansSCwebfontkit/alegreyasanssc-medium-webfont.woff2') format('woff2'), url('/fonts/AlegreyaSansSCwebfontkit/alegreyasanssc-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/SourceSansProwebfontkit/SourceSansPro-Regular.woff2') format('woff2'), url('/fonts/SourceSansProwebfontkit/SourceSansPro-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.advancedSearchButton {
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
}

    .advancedSearchButton:hover {
        background-color: Green;
        color: white;
    }

.show {
    display: block;
}

.hide {
    display: none;
}

.searchTextBox {
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexTableStyle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tableStyles {
    text-align: center;
    vertical-align: middle;
    border-spacing: 50px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    align-content: space-evenly;
}

input[type=text] {
    border-radius: 8px;
    padding-left: 45px;
    padding-top: 10px;
    padding-right: 45px;
    padding-bottom: 10px;
    background-image: url('/images/SearchIcon_5percent.png');
    background-repeat: no-repeat;
    background-position: left center;
}

    input[type=text]:focus {
        border: 4px solid black;
        border-radius: 4px;
    }

select option:hover {
    background-color: #8BC440;
}

select option:focus {
    outline: 1px solid #8BC440;
}

@media screen and (min-width: 425px) {

    input[type=text] {
        width: 200px;
    }
}

@media screen and (min-width: 600px) {

    input[type=text] {
        width: 400px;
    }
}

@media screen and (min-width: 1000px) {

    input[type=text] {
        width: 700px;
    }
}

@media screen and (max-width: 1000px) {

    .advancedSearchButton {
        text-align: center;
    }

    #searchTable {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*The following code is the start of making the Search Page Responsive*/

    /*#searchTable td, th {
            display: inline-block;
        }*/
}

.customHeaderFont {
    font-family: 'Alegreya Sans Sc Medium','Segoe UI', 'sans-serif';
}

.customContentFont {
    font-family: 'Source Sans Pro'
}
