@model AspNetUsers

<h1>Register User</h1>

<form action="/Home/AddUser" method="post">
    <label for="UserType">User Type</label>
    <select id="UserType" name="UserType">
        <option value="Startup">Startup</option>
        <option value="Partner">Partner</option>
        <option value="Seamless">Seamless</option>
    </select>

    <label for="Theme">Theme</label>
    <select id="Theme" name="Theme">
        <option value="Health Beyond the Hospital">Health Beyond the Hospital</option>
        <option value="The Good Life">The Good Life</option>
        <option value="Robust Future">Robust Future</option>
    </select>

    <input type="text" name="Name" placeholder="Company Name" />

    <label for="Technology">Technology</label>
    <select id="Technology" name="Technology">
        <option value="Software / AI">Software / AI</option>
        <option value="Sensing">Sensing</option>
        <option value="Robotics">Robotics</option>
        <option value="Advanced Materials">Advanced Materials</option>
        <option value="Business Process">Business Process</option>
        <option value="Products">Products</option>
    </select>

    <label for="Landscapes">Landscapes</label>
    <select id="Landscape" name="Landscape">
        <option value="">n/a</option>
        <option value="Good Habits">Good Habits</option>
        <option value="Personalized wellness">Personalized Wellness</option>
        <option value="Automation and robotics">Automation and Robotics</option>
        <option value="Safe shared spaces">Safe Shared Spaces</option>
        <option value="Clinic in a box">Clinic in a Box</option>

    </select>

    <input type="text" name="Summary" placeholder="Summary(400 Characters)" />

    <input type="text" name="Industry" placeholder="Industry" />

    <input type="text" name="PhoneNumber" placeholder="Phone Number" />

    <input type="text" name="EmailAddress" placeholder="Email Address" />

    <input type="text" name="Website" placeholder="Website" />

    <input type="text" name="City" placeholder="City" />

    <input type="text" name="[State/Province]" placeholder="State/Province" />

    <input type="text" name="Country" placeholder="Country" />

    <input type="hidden" name="UserId" value="@Model.Id" />

    <input type="submit" value="Submit" />


</form>

@Html.ValidationSummary()