@model GC_FinalProject_Seamless_June2020.Models.Startups

<h1>@Model.records[0].fields.CompanyName</h1>

<table>
    <tr>
        <td>
            Scout
            <ul>
                <li>Mark <input type="checkbox" value="IPE"></li>
                <li>Matt <input type="checkbox" value="IPE"></li>
                <li>Ryan <input type="checkbox" value="IPE"></li>
                <li>John <input type="checkbox" value="IPE"></li>
            </ul>
        </td>
        <td>
            Source
            <ul>
                <li>Source 1 <input type="checkbox" value="IPE"></li>
                <li>Source 2<input type="checkbox" value="IPE"></li>
                <li>Source 3<input type="checkbox" value="IPE"></li>
                <li>Source 4<input type="checkbox" value="IPE"></li>
                <li>Source 5<input type="checkbox" value="IPE"></li>
                <li>Source 6<input type="checkbox" value="IPE"></li>
                <li>Source 7<input type="checkbox" value="IPE"></li>
            </ul>
        </td>
        <td><input type="checkbox" value="DCCN-I">Country</td>
        <td><input type="checkbox" value="ELS-I">State</td>
    </tr>
    <tr>
        <td><input type="checkbox" value="ST-I">Alignment</td>
        <td><input type="checkbox" value="ITA">Theme</td>
        <td><input type="checkbox" value="FCS">Technology Areas</td>
        <td><input type="checkbox" value="DBMS-I">Landscapes</td>
    </tr>
</table>