
<link href="~/css/aboutUsStyles.css" rel="stylesheet" />

<div>
    <h1 class="mainHeaderStyle"> About SeamedIn</h1>
</div>
<div id="mySidebar" class="sidebar ">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a1> Welcome, </a1>
    <a1>@ViewBag.AspUser.Email</a1>
    <ul>
        <li> <a href="/Home/UserProfile?name=" @ViewBag.User.Id ">Your Profile</a></li>
        <li><a href="/SeamedInDB/Favorites">Your Favorites</a></li>
        <li> <a href="/SeamedInDB/SearchPage">Search Page</a></li>
    </ul>
    <a1>Recommended Startups:</a1>
    <ul>
        @for (int i = 0; i < 3; i++)
        {
            <li><a href="/Home/StartupProfile?name=@ViewBag.Startups[i].Startup.fields.CompanyName">@ViewBag.Startups[i].Startup.fields.CompanyName</a></li>
        }
    </ul>
</div>



<div>
    <table>
        <thead>
            <tr>
                <th>
                    <h4>SeamedIn Founders</h4>
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tr class="flexContainer">
            <td>
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHi_mGPE-C1fw/profile-displayphoto-shrink_200_200/0?e=1598486400&v=beta&t=RtA5g5kNIp077x9TbiqBETUGhPJFJcmrCAdv_JPWDN0" />
                <br />
                <br />
                <a href="https://www.linkedin.com/in/vibha-kondur/">Vibha Kondur's LinkedIn</a>
            </td>
            <td>
                <p>
                    <h2>Vibha Kondur</h2>
                    Summary
                </p>
            </td>
        </tr>

        <tr class="flexContainer">
            <td>
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFWCPtAx3FBaA/profile-displayphoto-shrink_200_200/0?e=1598486400&v=beta&t=ZnaAiTR0RFHJBR5_KM_vhxbDYtE50167ezSaSTe7MkE" />
                <br />
                <br />
                <a href="https://www.linkedin.com/in/jamestwatkins/">James Watkins' LinkedIn</a>
            </td>
            <td>
                <p>
                    <h2>James Watkins</h2>
                    Summary
                </p>
            </td>
            </trclass="flexContainer">

        <tr class="flexContainer">
            <td>
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQH5HcIO1u0TLQ/profile-displayphoto-shrink_200_200/0?e=1598486400&v=beta&t=ArvlrDDs8ZAUHjDIOSjuXMChFnfwal7xCQoIAYMemsg" />
                <br />
                <br />
                <a href="https://www.linkedin.com/in/deshawn-dyson/">DeShawn Dyson's LinkedIn</a>
            </td>
            <td>
                <p>
                    <h2>DeShawn Dyson</h2>
                    Summary
                </p>
            </td>
        </tr>

        <tr class="flexContainer">
            <td>
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQE4nM3bDtb8kw/profile-displayphoto-shrink_200_200/0?e=1598486400&v=beta&t=5RPJlqJuA8g9TJdVdSgDv5v9AcXwpySvwwBPpspfee4" />
                <br />
                <br />
                <a href="https://www.linkedin.com/in/joshforner/">Josh Forner's LinkedIn</a>
            </td>
            <td>
                <p>
                    <h2>Josh Forner</h2>
                    Summary
                </p>
            </td>
        </tr>


    </table>
</div>