@model GC_FinalProject_Seamless_June2020.Models.Startups


<table>
    <tr>
        <th>Sources</th>
        <th>Scouts</th>
        @*<th>Alignment</th>
        <th>Theme</th>*@
    </tr>
    <tr>
        <td>
            <select name="source" id="testing" form="searchForm" multiple>
                @foreach(Record testing in Model.records)
                {
                    <option name="source" value="{Source} = 'Source 1'">Source1</option>
                }

                <option name="source" value="{Source} = 'Source 1'">Source1</option>
                <option name="source" value="{Source} = 'Source 2'">Source2</option>
                <option name="source" value="{Source} = 'Source 3'">Source3</option>
                <option name="source" value="{Source} = 'Source 4'">Source4</option>
                <option name="source" value="{Source} = 'Source 5'">Source5</option>
                <option name="source" value="{Source} = 'Source 6'">Source6</option>
                <option name="source" value="{Source} = 'Source 7'">source7</option>
            </select>
        </td>

        <td>
            <select name="scout" id="scout_id" form="searchForm" multiple>
                <option name="scout" value="{Scout} = 'John'">John</option>
                <option name="scout" value="{Scout} = 'Mark'">Mark</option>
                <option name="scout" value="{Scout} = 'Matt'">Matt</option>
                <option name="scout" value="{Scout} = 'Ryan'">Ryan</option>
            </select>
        </td>
    </tr>
</table>

<form action="/SeamedInDB/GetStartupsFromSelections" id="searchForm">
    <input type="submit" />
</form>



